#main-content {
  max-width:100%;
  padding: 0 0 0 ;
  display: block;
  margin-left: 50%;
  margin-right: 50%; 
}
.responsive {
  position: relative;
  /*overflow: hidden; */
  width:100%;
  height:100%;
  /*padding-bottom: 70.7%;  1:1.14 Aspect Ratio (divide 210 by 297 = 0.707) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
